<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>update task</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <%-include('navbar') %>
    <div class="container">
      <div class="title">
        <h1>Update the Task</h1>
      </div>
      <form action="/submit" method="post">
        <input type="text" class="text" placeholder="Enter tille .." required>
        <textarea name="massege" class="text" id="area"></textarea>
        <button class="text">Add Task</button>
      </form>
</body>

</html>