<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>update task</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <%-include('navbar') %>
    <div class="container">
      <div class="title">
        <h1>Update the Task</h1>
      </div>
      <form action="/update/<%= result._id %>" method="post">
        <input type="text" class="text" name="title" placeholder="Enter tille .."
          value="<%= result? result.title :'' %>" required>
        <textarea name="massege" class="text" id="area"" ><%= result? result.massege :"" %></textarea>
        <button class=" text">Update Task</button>
      </form>
</body>

</html>