* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: rgb(130, 123, 123);
  color: bisque;
  padding: 15px 25px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}
nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: rgb(217, 212, 206);
  font-weight: bolder;
  transition: all;
  transition-duration: 1.2;
}

nav ul li a:hover {
  color: rgb(205, 169, 126);
  text-decoration: underline;
}

/* form style */
.container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.list-form {
  min-width: 45vw;
}
.title {
  margin: 5px;

  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 35vw;
  padding: 25px 20px;

  box-shadow: 1px 1px 5px rgb(174, 167, 167);
  gap: 25px;
}

.text {
  border-radius: 5px;
  width: 100%;
  border: 1px solid rgba(46, 8, 8, 0.286);
  padding: 5px 3px;
  font-size: 18px;
}

#area {
  height: 100px;
  color: rgb(82, 75, 75);
  resize: vertical;
}

#area:active {
  border: 1px solid rgba(156, 107, 15, 0.652);
}

button {
  background-color: #4f4848b3;
  color: rgb(245, 240, 235);
  cursor: pointer;
}

/* task-list */
#task-list {
  margin-top: 20px;
  min-width: 600px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.task-item {
  list-style: none;
  padding: 10px 12px;
  border-left: 5px solid rgb(239, 160, 12);
  box-shadow: 2px 2px 5px rgba(153, 149, 149, 0.684);
  border-radius: 10px;
  background-color: #2ff4dd72;
  cursor: progress;
}
.task-title {
  font-size: 20px;
  margin: 5px 0px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(13, 16, 50);
}
.task-massage {
  font-size: medium;
  color: rgb(96, 93, 93);
  margin: 5px 0px;
}

.btns {
  display: flex;
  gap: 10px;
}
.delete-btn {
  padding: 5px 6px;
  border-radius: 5px;
  background-color: #289319;
  transition-duration: 0.5s;
  border: 1px solid rgba(128, 128, 128, 0.488);
}
.delete-btn:hover {
  background-color: #1c5b14;
}
.delete-btn a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}
